/* * {
    border: red dashed 1px;
    box-sizing: border-box;
} */

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: whitesmoke;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    overflow: hidden;
}

hr {
    background-color: rgb(191, 204, 191);
    height: 1pt;
    border: none;
}

#bio-page, #experience-page, #portfolio-page, #landing-page {
    margin: 60px;
}

h1 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 35pt;
}



/* NAVIGATION STYLES */
#home-btn{
    text-decoration: none;
    font-size: 25pt;
    font-weight: 800;
}

span {
    color:darkgreen;
}

#nav-links button{
    font-weight: 600;
    font-size: 13pt;
}

#nav-links button:hover {
    text-shadow:rgb(191, 204, 191) 0 3px 2px;
}

#nav-links button:focus {
    text-decoration: underline solid darkgreen;
}

#navbar {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

#navbar button {
    border-style: none;
    background: none;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}
/* END OF NAVIGATION STYLES */


/* LANDING PAGE STYLES */
#landing-page {
    margin: 5em;
    height: 65vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container {
    display: flex;
    align-items: center;
    height: 55vh;
    margin: 60px;
    justify-content: space-between;
    gap: 5em;
}

#greeting p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 40pt;
    text-transform: uppercase;
}

#greeting h1 {
    font-size: 55pt;
}

#software-engineer {
    color: black;
    text-decoration: solid underline darkgreen;
}

#quote-container {
    width: 40em;
    align-self: center;
    margin-top: 30px;
}

#quote {
    background-color: white;
    padding: 20px;
    height: 7em;
    border: black solid;
    border-radius: 5px;
    text-align: right;
    font-size: 25pt;
    box-shadow: rgb(191, 204, 191) 15pt 15pt;
    line-height: 2.5em;

}
/* END OF LANDING PAGE STYLES */

/* BIO PAGE STYLES */
#bio-page {
    height: 65vh;
}

#bio-flex {
    margin-top: 10px;
    justify-content: space-between;
    align-content: center;
}

#about {
    margin-top: 10px;
    max-width: 45em;
    height: 50vh;
    border: black solid;
    border-radius: 5px;
    padding: 25px;
    box-shadow: rgb(191, 204, 191) 10pt 10pt;
    font-size: 15pt;
    line-height: 2;
    background-color: white;
    font-weight: 500;
}

#about a {
    font-weight: bold;
    color: darkgreen;
}

#art img {
    height: 28em;
    border-radius: 10px;
    border: solid black;
}

#art-portfolio {
    margin: 0;
    color: darkgreen;
    margin-bottom: 7px;
    font-weight: 300;
}

#art a {
    font-size: 15pt;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    text-align: center;
}

#art a:hover {
    text-shadow:rgb(191, 204, 191) 0 3px 2px;
}

/* END OF BIO PAGE STYLES */


/* EXPERIENCE PAGE */
#experience-page {
    height: 65vh;
}

.flex {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

#background {
    width: 55vw;
    height: 55vh;
    font-weight: 300;
    line-height: 2;
    background-color: white;
    border: black solid;
    border-radius: 8px;
    padding: 25px;
    margin-right: 5em;
    margin-top: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14pt;
    box-shadow: rgb(191, 204, 191) 10pt 10pt;
}

#background u {
    text-decoration: darkgreen solid underline;
}


#timeline {
    text-transform: uppercase;
    border-left: dashed rgb(191, 204, 191) 1pt;
    padding-left: 3em;
    margin-left: 25px;
    text-align: center;
}

#timeline h5 {
    margin: 7pt;
    font-size: 13pt;
}

#timeline p {
    font-size: 12pt;
}

#timeline hr {
    background-color: darkgreen;
    width: 17em;
    height: 1.5pt;
}

.dates {
    font-weight: 300;
    color: black;
}
/* END OF EXPERIENCE PAGE */



/* PORTFOLIO PAGE */
#grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    overflow-y: scroll;
    height: 65vh;
    padding: 25px;
}

.grid-item{
    border: black solid;
    background-color: white;
    border-radius: 10px;
    width: 38em;
    height: 27em;
    padding: 15px;
    box-shadow: rgb(191, 204, 191) 8pt 8pt;
}
.header {
    display: flex;
    justify-content: space-between;
}
 .thumbnail {
    max-height: 35px;
 }
.grid-item a {
    text-decoration: none;
    color: black;
    font-size: 17pt;
}

.grid-item a:hover {
    text-decoration: underline solid rgb(191, 204, 191);
}

.grid-item p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    height: 50px;
    /* text-transform: uppercase; */
}

.grid-item hr {
    background-color: darkgreen;
    height: 1pt;
}

#img-container {
    display: flex;
    justify-content: center;
    height: 16.5em;
    overflow-y: scroll;
}
#img-container img {
    height: 16em;
}

